In [3]:
import os
import pandas as pd

root_dir = os.path.join(r'C:\Users\singku\google drive ku 175T\_G-Project\datasets\CPN_all\CPN_utf8.csv')
df = pd.read_csv(root_dir, encoding='utf-8', index_col=0)

In [18]:
df['ID'].str.split('_').to_frame(name='tmp')
df = df.rename(columns={'ID' : 'file_name'})
df

          file_name  width  height       roi
0       FH_I0000677    436     513  0.052833
1     FH_I0000916_1    437     486  0.012775
2     FH_I0000916_2    436     523  0.016560
3     FH_I0000922_1    607     415  0.018491
4       FH_I0001111    771     568  0.014956
..              ...    ...     ...       ...
485  POP_I0025306_2    416     567  0.011509
486  POP_I0025738_1    451     311  0.014216
487  POP_I0025740_1    450     313  0.018069
488    POP_I0030243    769     548  0.010044
489    POP_I0030249    761     528  0.008350

[490 rows x 4 columns]

In [21]:
tmp = pd.DataFrame(df['file_name'].str.split('_').to_list(), columns=['region', 'ID', 'subset']).fillna(1)
tmp = pd.concat([tmp, df], axis=1)
tmp.to_csv(root_dir, encoding='utf-8')

In [6]:
import os
import pandas as pd

root_dir = os.path.join(r'C:\Users\singku\google drive ku 175T\_G-Project\datasets\CPN_all\CPN_utf8.csv')
df = pd.read_csv(root_dir, encoding='utf-8', index_col=0)
df

    region        ID  subset       file_name  width  height       roi
0       FH  I0000677       1     FH_I0000677    436     513  0.052833
1       FH  I0000916       1   FH_I0000916_1    437     486  0.012775
2       FH  I0000916       2   FH_I0000916_2    436     523  0.016560
3       FH  I0000922       1   FH_I0000922_1    607     415  0.018491
4       FH  I0001111       1     FH_I0001111    771     568  0.014956
..     ...       ...     ...             ...    ...     ...       ...
485    POP  I0025306       2  POP_I0025306_2    416     567  0.011509
486    POP  I0025738       1  POP_I0025738_1    451     311  0.014216
487    POP  I0025740       1  POP_I0025740_1    450     313  0.018069
488    POP  I0030243       1    POP_I0030243    769     548  0.010044
489    POP  I0030249       1    POP_I0030249    761     528  0.008350

[490 rows x 7 columns]

In [13]:
A = df[['region', 'roi']].groupby('region').mean()
A

             roi
region
FH      0.022709
FN      0.025200
FN+1    0.025093
FN+10   0.018610
FN+11   0.017822
FN+12   0.057294
FN+13   0.045047
FN+15   0.045288
FN+2    0.021342
FN+3    0.022293
FN+4    0.020379
FN+5    0.021831
FN+6    0.022456
FN+7    0.039412
FN+8    0.029166
FN+9    0.025879
FN-1    0.019740
POP     0.020206
POP+1   0.014996
POP+2   0.018107
POP+3   0.011264
POP+5   0.026862

In [14]:
B = df[['region', 'file_name']].groupby('region').count()
B

        file_name
region
FH             91
FN            106
FN+1           77
FN+10           1
FN+11           4
FN+12           1
FN+13           1
FN+15           1
FN+2           58
FN+3           49
FN+4           29
FN+5           16
FN+6            6
FN+7            4
FN+8            8
FN+9            3
FN-1            4
POP            22
POP+1           2
POP+2           4
POP+3           1
POP+5           2

In [16]:
pd.concat([A, B], axis=1)

             roi  file_name
region
FH      0.022709         91
FN      0.025200        106
FN+1    0.025093         77
FN+10   0.018610          1
FN+11   0.017822          4
FN+12   0.057294          1
FN+13   0.045047          1
FN+15   0.045288          1
FN+2    0.021342         58
FN+3    0.022293         49
FN+4    0.020379         29
FN+5    0.021831         16
FN+6    0.022456          6
FN+7    0.039412          4
FN+8    0.029166          8
FN+9    0.025879          3
FN-1    0.019740          4
POP     0.020206         22
POP+1   0.014996          2
POP+2   0.018107          4
POP+3   0.011264          1
POP+5   0.026862          2